*.class

# Package Files #
*.dex
*.war
*.ear
*.apk
bin/
bin
gen/
gen
library/target
library/.idea
library/gen-external-apklibs
*.iml
.metadata/
.metadata
*.project

/build
/library/build
.idea
.gradle
